# Banco de dados
SA_PASSWORD=MinhaSenha@123

# JWT
JWT_SECRET=umsegredolongodepelomenos32caracteresz

# Apenas para docker-compose-app.yml (AWS EC2)
DB_HOST=IP privado do EC2
ALLOWED_ORIGINS=https://umdominio.com
VITE_API_URL=http://localhost/api